/*
* Lit v0.1
* CSS file written by Arham Jain (https://github.com/ajusa)
*
* Downloaded from https://github.com/ajusa/lit on November 23, 2020
* Adapted and revised by Przemyslaw Pawelczak (p.pawelczak@tudelft.nl) on December 8, 2020
* STOLEN and adapted from Przemyslaw Pawelczak with great pleasure by Kasim Sinan Yildirim :))))
*/

/* Notes */

/* 
* Icons (LinkedIn, GitHub, Twitter, Google Scholar) downloaded from https://icons8.com/ on November 25, 2020
*/

/*
* To create single color image from a color palette
* convert -size 800x200 xc:#4d4dff banner_4d4dff.png
*/

:root {
 --font: 'Noto_Sans';
 --line-height: 0.75em;
 --margin: 5px;
 --color-main: #005DAF; /*Emphasis button (dark color); Paper button (code, videos, etc.)*/ /*Person's button*/
 --color-menu: #3B4DA8; /*Menu button*/ /*Link*/
 --color-3: #00684A; /*CV button*/
 --color-4: #7D84A8; /*NOT USED YET*/
 --color-5: #81358A; /*Emphasis button (light color)*/
 --color-white: #FFFFFF;
 --color-green: #08d705; 
 --color-darkgreen: #0c6b0593;
 --color-blue:#070bd7b8;
 --color-pen-blue: #2803f7;
 --color-purple: #e537a8;
 --color-red: #e80303cd;
 --separator-before: "[";
 --separator-after: "]";
}

@font-face {
 font-family: 'Noto_Sans';
 src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype'); /* Downloaded from https://fonts.google.com/specimen/Ubuntu on December 1, 2020 */
}

body {
 font-family: 'Noto_Sans';
}

#face_image {
 border-radius: 4%; /* make image circular */
 width: auto; 
 height: auto; 
 padding: 0px; /* space around element */
 float: left; /* position against the text */
 margin: 0px;
 display: block;
 vertical-align: top;
 text-align: top;
}

* {
 box-sizing: border-box;
}

*+* {
 margin: .15em 0;
}

.row {
 width: 100%;
}

.main {
 max-width: 73em;
 padding: 0.5em;
 margin: auto;
 font: 1em/1.6 var(--font);
 text-align: justify;
}

.card{
 padding: 0.2em;
 border: none var(--color-menu);
}

.pink-card {
    padding: 0em;
    background-color: #af00980a;
    border-radius: 0px;
    width: auto;
    text-align: justify;
    margin: 0em auto;
}

.highlight-card {
    padding: 0.5em;
    border-radius: 0px;
    text-align: justify;
    margin: 0em auto;
    border-radius: 10px;
    border: 3px solid var(--color-4);
    background: var(--color-white);
}


h6 {
 font: 100 1em var(--font); /* boldness, font-size */
 line-height: var(--line-height);
}

h5 {
 font: 100 1.2em var(--font);
 line-height: var(--line-height);
}

h4 {
 font: 100 1.3em var(--font);
 line-height: var(--line-height);
}

h3 {
 font: 300 1.6em var(--font);
 line-height: var(--line-height);
}

h2 {
 font: 400 2.2em var(--font);
 line-height: var(--line-height);
}

h1 {
 font: 600 2.5em var(--font);
 line-height: var(--line-height);
}

a {
 color: var(--color-menu);
 text-decoration: none;
}

a:hover{
 opacity: .6;
}

.add_margin_top_positive {
 margin-top: calc(var(--margin) * 2);
}

.add_margin_top_negative {
 margin-top: calc(var(--margin) * 1);
}

.add_margin_bottom_positive {
 margin-bottom: calc(var(--margin) * 2);
}

.add_margin_bottom_negative {
 margin-bottom: calc(var(--margin) * 1);
}

.text_bold {
 text-decoration: none;
 font-weight: bold;
}

.text_italic {
 text-decoration: none;
 font-style: italic;
}

.text_footer {
 text-decoration: none;
 font-size: 0.8em
}

.btn-award { /*Emphasis button (light color)*/
 padding: 0.35em;
 text-transform: uppercase;
 background: #e80303cd;
 color: var(--color-white);
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}

.btn { /*Emphasis button (light color)*/
 padding: 0.35em;
 text-transform: uppercase;
 background: var(--color-darkgreen);
 color: var(--color-white);
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}

.btn_2 { /*Emphasis button (light color)*/
 padding: 0.35em;
 text-transform: uppercase;
 background: var(--color-4);
 color: var(--color-white);
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}

.btn_link_2 { /*Emphasis button (dark color); Paper button (code, videos, etc.)*/
 padding: 0.35em;
 text-transform: uppercase;
 background: var(--color-white);
 color: var(--color-menu);
 border: solid var(--color-menu);
 font: 0.75em var(--font);
 border-radius: 10px;
 text-align: center;
 font-weight: bold;
}

.btn_link_1 { /*CV button*/
 padding: 0.35em;
 text-transform: uppercase;
 background: var(--color-3);
 color: var(--color-white);
 border: none;
 font: 0.75em var(--font);
 border-radius: 10px;
 text-align: center;
 font-weight: bold;
}

.btn_highlight {
 padding: 0.35em;
 text-transform: uppercase;
 color: var(--color-purple);
 border: solid var(--color-purple);
 background: var(--color-white);
 border-width: thin;
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}

.btn_highlight_2 {
 padding: 0.35em;
 text-transform: uppercase;
 color: var(--color-white);
 background: color-mix(in srgb, var(--color-menu) 45%, transparent);
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}

.btn_highlight_3 {
 color: var(--color-pen-blue);
 border-radius: 10px;
 font-weight: bold;
}



.btn_project_role {
 padding: 0.35em;
 text-transform: uppercase;
 color: #067f3d;
 border: solid #07b3541c;
 background: #ffffff1c;
 border-width: thin;
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}

.btn_project_role_pi {
 padding: 0.35em;
 text-transform: uppercase;
 color: #067f3d;
 border: solid #07b3541c;
 background: #07b3541c;
 border-width: thin;
 font: 0.75em var(--font);
 border-radius: 10px;
 font-weight: bold;
}


.btn_menu { /*Menu button*/
 padding: 0.35em;
 text-transform: uppercase;
 color: var(--color-white);
 border: none;
 background: color-mix(in srgb, var(--color-menu) 65%, transparent);;
 font: 1em var(--font);
 border-width: thin;
 border-radius: 10px;
 text-align: center;
 font-weight: bold;
}

.btn_menu_2 { /*Menu button*/
 padding: 0.35em;
 text-transform: uppercase;
 color: #e537a8;
 border: solid #070bd71a;
 background: #dddfdd1a;
 font: 1em var(--font);
 border-width: thin;
 border-radius: 10px;
 text-align: center;
 font-weight: bold;
}

.image_small_size{
 height: 2.2em
}

.hfill{
 float: right;
 margin: 0px;
}

@media(min-width: 50em) {
 .col {
 display: table-cell;
 text-align: left;
 vertical-align: middle;
 }
 .\31 { /*numbers 31--36 denotes "1--6" in column block*/
  width: 10%;
 }
 .\32 {
  width: 50%;
 }
 .\33 {
  width: 22%;
 }
 .\34 {
  width: 30%;
 }
 .\35 {
  width: 40%;
 }
 .\36 {
  width: 50%;
 }
 .row {
  display: table;
  border-spacing: 1em 0;
 }
}

@media(max-width: 75em) { /*adapt properties for small screens*/
 .btn_link_2 {
  background: var(--color-white);
  color: var(--color-main);
 }
 .btn_transparent {
  border: none;
 }
 .btn_transparent::before {
  content: var(--separator-before);
 }
 .btn_transparent::after {
  content: var(--separator-after);
 }
 .btn {
  background: var(--color-white);
  color: var(--color-purple);
 }
 .btn::before {
  content: var(--separator-before);
 }
 .btn::after {
  content: var(--separator-after);
 }
}
